<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.4.0" targetFramework="net472" />
  <package id="ClosedXML" version="0.102.3" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="2.16.0" targetFramework="net472" />
  <package id="EngineIoClientDotNet" version="0.9.22" targetFramework="net472" />
  <package id="EngineIoClientDotNet.Standard" version="0.0.6" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net472" />
  <package id="Firebase.Database" version="1.0.0" targetFramework="net472" />
  <package id="FirebaseAdmin" version="3.0.1" targetFramework="net472" />
  <package id="FirebaseDatabase.net" version="4.2.0" targetFramework="net472" />
  <package id="Fleck" version="1.2.0" targetFramework="net472" />
  <package id="Google.Api.CommonProtos" version="2.16.0" targetFramework="net472" />
  <package id="Google.Api.Gax" version="4.9.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Grpc" version="4.9.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Rest" version="4.8.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.68.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.68.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.68.0" targetFramework="net472" />
  <package id="Google.Cloud.Firestore" version="3.9.0" targetFramework="net472" />
  <package id="Google.Cloud.Firestore.V1" version="3.9.0" targetFramework="net472" />
  <package id="Google.Cloud.Location" version="2.3.0" targetFramework="net472" />
  <package id="Google.LongRunning" version="3.3.0" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.28.2" targetFramework="net472" />
  <package id="Grpc.Auth" version="2.66.0" targetFramework="net472" />
  <package id="Grpc.Core" version="2.46.6" targetFramework="net472" />
  <package id="Grpc.Core.Api" version="2.66.0" targetFramework="net472" />
  <package id="Grpc.Net.Client" version="2.66.0" targetFramework="net472" />
  <package id="Grpc.Net.Common" version="2.66.0" targetFramework="net472" />
  <package id="Irony.NetCore" version="1.0.11" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.4" targetFramework="net472" />
  <package id="LiteDB" version="4.1.4" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Data.Sqlite.Core" version="8.0.8" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net472" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net472" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net472" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net472" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net472" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net472" />
  <package id="SocketIO.Core" version="3.1.2" targetFramework="net472" />
  <package id="SocketIO.Serializer.Core" version="3.1.2" targetFramework="net472" />
  <package id="SQLite.Native" version="3.12.3" targetFramework="net472" />
  <package id="SQLitePCLRaw.core" version="2.1.6" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.118.0" targetFramework="net472" />
  <package id="SuperSocket.ClientEngine.Core" version="0.10.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net472" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.1" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Packaging" version="6.0.0" targetFramework="net472" />
  <package id="System.Linq" version="4.3.0" targetFramework="net472" />
  <package id="System.Linq.Async" version="6.0.1" targetFramework="net472" />
  <package id="System.Management" version="7.0.2" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Net.Http.WinHttpHandler" version="8.0.0" targetFramework="net472" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Security" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="8.0.4" targetFramework="net472" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net472" />
  <package id="System.Threading" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net472" />
  <package id="ToastNotifications.Messages" version="2.5.1" targetFramework="net472" />
  <package id="WebSocket4Net" version="0.15.2" targetFramework="net472" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" targetFramework="net472" />
  <package id="XLParser" version="1.5.2" targetFramework="net472" />
</packages>